@import "tailwindcss";

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --color-primary: #3e6ae1;

  --animate-carrusel: animate-carrusel 3s linear 3s infinite;

  @keyframes animate-carrusel {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
